<!DOCTYPE HTML>

<html>
	<head>
		<title>APPLICATION DE GESTION APPRENANTS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/" id="logo">Application de Gestion Apprenants</a></h1>
								<hr />
								<p>Connectez Vous pour demarer !!</p>
							</header>
							<footer>
							
								<button onclick="window.location.href='/valid_position'">LOGIN APPRENANTS</button>
								
								<button onclick="window.location.href='/loginformateurs'">LOGIN FORMATEURS</button>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Accueil</a></li>
								<li><a href="/valid_position">Connexion_Apprenants</a></li>
								<li><a href="/loginformateurs">Connexion_Formateurs</a></li><br>
								
							</ul>
							<center style="padding-top: 100px;"> {{msg}}</center>
							<center style="padding-top: 100px;"> {{msg1}}</center>
							<center style="padding-top: 115px;"> {{msg4}}</center>
							<center style="padding-top: 115px;"> {{msg2}}</center>
						</nav>

						
				</div>					

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>