<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ecbe2dd7ea59475abd9de45b6cd25f48 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ecbe2dd7ea59475abd9de45b6cd25f48" ></div>
        
</body>
<script>    
    
            var map_ecbe2dd7ea59475abd9de45b6cd25f48 = L.map(
                "map_ecbe2dd7ea59475abd9de45b6cd25f48",
                {
                    center: [5.3509125, -4.0108828],
                    crs: L.CRS.EPSG3857,
                    zoom: 19,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9bacf9f79aaf4e42904f2f58dd7846ca = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ecbe2dd7ea59475abd9de45b6cd25f48);
        
    
            var circle_marker_26b8c52b8be94200a8b6c85645cf6505 = L.circleMarker(
                [5.3509125, -4.0108828],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_ecbe2dd7ea59475abd9de45b6cd25f48);
        
    
        var popup_daf617afb33243fa8fa942b4cce8ac33 = L.popup({"maxWidth": "100%"});

        
            var html_051e0bc80b6d436b96a021263c4d659d = $(`<div id="html_051e0bc80b6d436b96a021263c4d659d" style="width: 100.0%; height: 100.0%;">votre position</div>`)[0];
            popup_daf617afb33243fa8fa942b4cce8ac33.setContent(html_051e0bc80b6d436b96a021263c4d659d);
        

        circle_marker_26b8c52b8be94200a8b6c85645cf6505.bindPopup(popup_daf617afb33243fa8fa942b4cce8ac33)
        ;

        
    
    
            var marker_046397a52cbe4841b37e096ab91c6bc4 = L.marker(
                [5.3509125, -4.0108828],
                {}
            ).addTo(map_ecbe2dd7ea59475abd9de45b6cd25f48);
        
    
        var popup_51af8c3d3c724cc5a6c564b33de42548 = L.popup({"maxWidth": "100%"});

        
            var html_77533622767f4f5683a9cae7bccfb253 = $(`<div id="html_77533622767f4f5683a9cae7bccfb253" style="width: 100.0%; height: 100.0%;"><h1>Vous&nbsp;êtes&nbsp;connecté!</h1></div>`)[0];
            popup_51af8c3d3c724cc5a6c564b33de42548.setContent(html_77533622767f4f5683a9cae7bccfb253);
        

        marker_046397a52cbe4841b37e096ab91c6bc4.bindPopup(popup_51af8c3d3c724cc5a6c564b33de42548)
        ;

        
    
    
            marker_046397a52cbe4841b37e096ab91c6bc4.bindTooltip(
                `<div>
                     <b>MTN ACADEMY</b><br><br> Cocody
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_deca99645051495ba98e949c124a6158 = L.marker(
                [5.3509125, -4.0108828],
                {}
            ).addTo(map_ecbe2dd7ea59475abd9de45b6cd25f48);
        
    
        var popup_c76fccbd84af4ea988cfdf3116e07e9c = L.popup({"maxWidth": "100%"});

        
            var html_b538eda7c4904d91a69488b1fc0a7f9d = $(`<div id="html_b538eda7c4904d91a69488b1fc0a7f9d" style="width: 100.0%; height: 100.0%;"><h1>Vous&nbsp;êtes&nbsp;connecté!</h1></div>`)[0];
            popup_c76fccbd84af4ea988cfdf3116e07e9c.setContent(html_b538eda7c4904d91a69488b1fc0a7f9d);
        

        marker_deca99645051495ba98e949c124a6158.bindPopup(popup_c76fccbd84af4ea988cfdf3116e07e9c)
        ;

        
    
    
            marker_deca99645051495ba98e949c124a6158.bindTooltip(
                `<div>
                     <b>MTN ACADEMY</b><br><br> Cocody
                 </div>`,
                {"sticky": true}
            );
        
</script>